[submodule "ranger/.config/ranger/plugins/ranger-archives"]
	path = ranger/.config/ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/lnkkerst/nvim-config.git
