* {
  border-radius: 0px;
}

#input {
  background-color: #1e1e2e;
}

#selected {
  background-color: #1e1e2e;
  color: #cba6f7;
}

#scroll {
  margin-top: 3px;
  border: 2px solid #b4befe;
}

#inner-box {
  border-radius: px;
}

#entry {
  background-color: #1e1e2e;
}
