snippet codeforces use in codeforces
	#include <iostream>
	#include <algorithm>
	#include <vector>
	using namespace std;

	void solve() {
		${0}
	}

	int main() {
		int t;
		cin >> t;
		while(t--) {
			solve();
		}
	}
