[user]
	email = lnkkerst04@gmail.com
	name = lnkkerst
[core]
	autocrlf = input
	pager = delta
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[interactive]
	diffFilter = delta --color-only
[http]
	; proxy = http://127.0.0.1:20173
[init]
	defaultBranch = main
[safe]
	directory = /opt/flutter
[delta]
  navigate = true
  light = false
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
