{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 80,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "rangeStart": 0,
  "endOfLine": "lf"
}
