@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  /* font-family: 'JetbrainsMono Nerd Font'; */
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

#workspaces button {
  padding: 0 4px;
  border-top: 2px solid transparent;
}

#workspaces button.active {
  color: @mauve;
  border-top: 2px solid @mauve;
}

#clock,
#idle_inhibitor,
#battery,
#cpu,
#temperature,
#backlight,
#memory,
#network,
#pulseaudio,
#keyboard-state,
#tray,
#mode {
  padding: 0 8px 0 6px;
  margin: 0 2px;
}

#idle_inhibitor {
  border-top: 2px solid @flamingo;
}

#pulseaudio {
  border-top: 2px solid @pink;
}

#cpu {
  border-top: 2px solid @maroon;
}

#memory {
  border-top: 2px solid @peach;
}

#temperature {
  border-top: 2px solid @yellow;
}

#backlight {
  border-top: 2px solid @green;
}

#keyboard-state {
  border-top: 2px solid @teal;
}

#battery {
  border-top: 2px solid @sky;
}

#clock {
  border-top: 2px solid @blue;
}

#tray {
  border-top: 2px solid @lavender;
}

#window {
  margin: 0 8px;
}

#battery icon {
  color: @red;
}

@keyframes blink {
  to {
    background-color: @yellow;
    color: @base;
  }
}

#battery.warning:not(.charging) {
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: @red;
}
